@*@model Mvc4AppFuncional.Models.LoginModel*@
@{
    ViewBag.Title = "RestablecerLogin";
    Layout = null;// "~/Views/Account/Login.cshtml";
}

<h2>RestablecerLogin</h2>
<section id="loginForm">
  <legend>Logeo de Form</legend>
 <ol>
            <li>
                 <li id="pswtmp">
<Label>Contrasena temporal</label>
                   <br />  @ViewBag.Passtmp
            </li>
     </ol>
    </section>
